.App {
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding: 5px;
}

.background {
    background-image: url("./assets/Zeichen.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
html {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
    background-color: unset !important;
}
